* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
background: url(https://i.pinimg.com/736x/3e/2d/29/3e2d29d5ccccd566597a7519cfd188bb.jpg) no-repeat center center;
background-size: cover;
height: 80vh;
}


/* @keyframes animacion{
    0%{
        box-shadow: 0 0 0 0 rgb(79, 236, 241, .5), 0 0 0 0 rgb(79, 236, 241, .4)
    }
    30%{
        box-shadow: 0 0 0 50px rgb(79, 236, 241, 0),  0 0 0 0 rgb(79, 236, 241, .4)
    }
    65%{
        box-shadow: 0 0 0 20px rgb(79, 236, 241, 0),  0 0 0 30px rgb(79, 236, 241, 0)

    }
    100%{
        box-shadow: 0 0 0 50px rgb(79, 236, 241, 0),  0 0 0 30px rgb(79, 236, 241, .4)

    }
} */


.cajayellow{
    width: 400px;
    height: 400px;
    background-color: yellow;
    padding: 15px;
    border: 5px solid black;
}

.cajared{
    width: 400px;
    height: 400px;
    background-color: red;
    padding: 15px;
    border: 5px solid black;
}